html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #777;

}

body {
    font-size: 14px;
    color: #777;
    font-family: "微软雅黑";
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.banxin {
    width: 1140px;
    margin: 0 auto;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

/********************上半部分导航********************************/
.topNav {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.tr_top li {
    height: 40px;
    margin: 0 10px 0;
    font-size: 12px;
    float: right;
    position: relative;
    margin-left: 20px;
}

.tr_top a {
    display: inline-block;
    line-height: 40px;
}

.tr_top b {
    display: inline-block;
    width: 12px;
    height: 16px;
    position: absolute;
    bottom: 12px;
    left: -15px;
}

.tr_bottom li {
    padding: 10px 15px;
    float: left;
}

.tr_bottom li:hover {
    color: black;
    border-bottom: 4px solid #006888;
}

/**************  右侧固定栏显示*********************/
.fixed-right {
    bottom: 10px;
    position: fixed;
    right: 20px;
    z-index: 999
}

.fixed-bar {
    background-color: rgba(220, 220, 220, 0.5);
    display: block;
    height: 48px;
    margin-bottom: 10px;
    overflow: hidden;
    text-indent: -999px;
    width: 48px
}

.top-logo, .contact-way-list li, .bottom-logo, .fixed-bar {
    background-image: url("../images/common.png");
    background-repeat: no-repeat;
}

.
fixed-bar:focus {
    outline: medium none;
}

.fixed-bar:hover {
    background-color: rgba(66, 77, 92, 0.5);
}
.fixed-bar-top {
    background-position: -264px -2px;
}

.fixed-bar-message {
    background-position: -263px -66px;
}

.fixed-bar-email {
    background-position: -264px -132px;
}

.fixed-bar-contact {
    background-position: -263px -197px;
}

.arrow{
    position: absolute;
    top: 58px;
    width: 0px;
    height: 0px;
    border: 15px solid transparent;
    border-left-color:#EDEDED ;
    right: -28px;
}
.fixed-right-contactUs{
    background:#EDEDED;
}
.cantact-popover{
    position: absolute;
    top:66px;
    left:-223px;
    border-radius: 5px;
    width: 206px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
.cantact-popover h3{
    padding: 10px 20px;
    margin: 0px 5px;
}
.cantact-popover p{
    padding:10px 20px;
    background:#EDEDED;
}
.cantact-popover .contactUs{
    border: 1px solid #EDEDED;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*顶部导航栏*/
.topNav{
    background-color: #fff;
    z-index: 2;
    opacity: 0.8;
    border-bottom: 1px solid #000;
}
/*电话*/
.phone{
    width: 40px;
    height: 88px;
    background:url("../images/right-phone.png") no-repeat 0 0;
    float: right;
    cursor: pointer;
    position: fixed;
    top: 110px;
    right: 0px;
    z-index: 2;
}

/*底部*/
.bottom{
    border-top: 1px solid #DDD;
    margin-top: 100px;
}
.btm_left li{
    height: 83px;
    float: left;
    line-height: 83px;
    margin-right: 15px;
}
.btm_right span{
    float: right;
    line-height: 83px;
    margin-left: 15px;

}